@charset "UTF-8";

/* Todas as demais mídias */

/* Typical Device Breakpoints - Recomendações W3C
------------------------------
Pequenas telas: até 600px
Celular: de 600px até 768px
Tablet: 768px até 992px
Desktop: 992px até 1200px
Grandes telas: acima de 1200px
*/

/* Por meio da lógica de Mobile first, as mídias para dispositivos 
móveis (telas pequenas e celular) já foram estabelecidas em suas propriedades no style.css, 
restando elaborar o soutros tamanhos de tela
*/

@media screen and (min-width:1035px){
    .itens{
        display: none;
    }
}
