/*Importando fonte Roboto*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: Roboto, Helvetica, sans-serif;
}

.content{
    padding: 1rem;
}

.content h1{
    margin: 0;
}